# bash

# systemctl daemon-reload

# systemctl enable baks-wildberries@1.service
# systemctl disable baks-wildberries@1.service

# systemctl start baks-wildberries@1.service
# systemctl restart baks-wildberries@1.service
# systemctl stop baks-wildberries@1.service

[Unit]
Description=Symfony messenger wildberries %i
StartLimitBurst=5
StartLimitIntervalSec=0

[Service]
ExecStart=php /.....PATH_TO_PROJECT..../bin/console messenger:consume wildberries --memory-limit=128m --time-limit=3600 --limit=100
Restart=always

User=unit
Group=unit

[Install]
WantedBy=default.target